@media screen and (max-width: 580px){
    .navbar{
        display: none;
    }

    .hamburger{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
    }

    .hamburger-links.open{
        display: block;
    }
    
    #info{
        margin: 0px 10px 12px 10px !important;
        padding-top: 20px;
    }
    .my-role{
        font-size: .85rem;
    }

    .footer{
        display:flex;
        flex-wrap: wrap;
        height: 50vh;
        margin-bottom: 80px;
        padding-right: 0px;
    }

    .footer .info-footer{
        margin-left: 0px;
        padding-top: 0px;
    }

    .footer .email-footer{
        margin-right: 0px;
    }
}

@media screen and (max-width: 1000px){
    #info{
        margin: 50px 100px 10px 50px;
    }
}

@media screen and (min-width: 1001px){

    #info{
        margin: 30px 10px 10px 170px;
    }
    
    .my-pitch p{
        font-size: 4.3rem;
    }
}

@media screen and (max-width: 825px){
    #info{
        margin: 50px 0px 10px 20px;
    }
}

@media screen and (max-width: 760px){
    #info{
        margin: 50px 10px 10px 10px;
    }
    .my-pitch p{
        font-size: 3rem;
    }
}

@media screen and (max-width: 800px){
    .project-item{
        flex: 1 0 100%; 
        box-sizing: border-box;
    }
    #project-section{
        margin: 200px 10px 0px 10px;
    }
    .project-item .project-title{
        line-height: 1;
    }
}

@media screen and (max-width: 1000px){
    .email-footer p{
            font-size: 3rem;
    }
}

@media screen and (max-width: 830px){
    .email-footer p{
            font-size: 2rem;
            letter-spacing: -2px;
            padding-top: 10px;
    }

    .email-footer a{
        padding: 12px 20px 12px 20px;
        font-size: .8rem;
    }
}