@media screen and (max-width: 500px){
    .navbar{
        display: none;
    }

    .hamburger{
        display: flex;
        justify-content: space-between;
    }

    .hamburger-links.open{
        display: block;
    }
   
}