@font-face {
    font-family: 'sohne';
    src: url('./assets/fonts/sohne.woff2') format('woff2'), /* Modern Browsers */
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
    font-family: 'heldane';
    src: url('/assets/fonts/HeldaneTextRegular.woff');
}

.body{
    background-color: #787777;
}

.navbar{
    display: flex;
    justify-content: space-between;
    font-family: 'sohne', sans-serif;
    font-size: smaller;
    position: sticky;
}

.navbar ul{
    display: flex;
    list-style-type: none;
}
.navbar .navbar-links a{
    text-decoration: none;
    color: #888;  
    margin: 10px;
    margin-right: 25px;
    padding: 12px 20px 12px 20px;
    font-size: .8rem;
    
}

.navbar .navbar-links a:hover{
    color: black;
}

.navbar .navbar-links .email:hover{
    background-color: #383838 !important;
}

.navbar .navbar-logo{
    text-decoration: none;
    margin-left: 20px;
}

.navbar .navbar-logo:hover{
    /* background-color: ; */
}

.hamburger{
    display: none;
}

.hamburger-menu .hamburger-menu-icon{
    height: 20px;
    width: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 20px 0 10px;
    cursor: pointer;
}

.hamburger-menu .hamburger-menu-icon span{
    height: 2px;
    background-color: black;
}

.hamburger-menu .hamburger-menu-icon .first-dash{
    width: 16px;
}
.hamburger-menu .hamburger-menu-icon .last-dash{
    background-color: black;
    margin-left: 12px;
}

.hamburger-logo{
    margin-left: 20px;
}

.hamburger-links{
    display: none;
}

.hamburger-links ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin-left: 0px;
}

.hamburger-links li a{
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 15px 12px 15px 12px;
    font-family: 'sohne', sans-serif;
    font-size: .75rem;
    color: #888;
    text-align: center;
    margin-left: -10px;
    overflow: hidden;
}

.hamburger-links li a:hover{
    color: black;
    background-color: #f6f6f6;
}

.hamburger-links li .email:hover{
    background-color: #383838 !important;
}

#info{
    margin: 50px 100px 10px 100px;
    padding: 50px;
}

.my-role{
    font-family: 'Roboto', sans-serif;
    color: #888;
    font-weight: 400;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.my-role p{
    margin: 4px 4px 0px 4px;
}

.my-pitch p{
    margin-top: 15px;
    font-family: 'heldane', sans-serif;
    font-size: 3.6rem;
    font-weight: 300;
    font-stretch:narrower;
    letter-spacing: -3px;
    line-height: 1.5;
}

.my-pitch .highlight-words{
    background-color: #e7f097;
    border-radius: 100px;
}