@font-face {
    font-family: 'sohne';
    src: url('./assets/fonts/sohne.woff2');
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
    font-family: 'heldane';
    src: url('/assets/fonts/HeldaneTextRegular.woff');
}

.navbar{
    display: flex;
    justify-content: space-between;
    font-family: 'sohne', sans-serif;
    font-size: smaller;
    position: fixed;
    width: 100%;
    background-color: #f5f3f2;
    top: 0;
    padding-top: 20px;
    z-index: 1000;
}

.navbar ul{
    display: flex;
    list-style-type: none;
}
.navbar .navbar-links a{
    text-decoration: none;
    color: #888;  
    margin: 10px;
    margin-right: 25px;
    padding: 12px 20px 12px 20px;
    font-size: .8rem;
}

.navbar .navbar-links a:hover{
    color: black;
}

.navbar .navbar-links .email:hover{
    background-color: #383838 !important;
}

.navbar .navbar-logo{
    text-decoration: none;
    margin-left: 20px;
}

.navbar .navbar-logo:hover{
    /* background-color: ; */
}

.hamburger{
    display: none;
}

.hamburger-menu .hamburger-menu-icon{
    height: 20px;
    width: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 20px 0 10px;
    cursor: pointer;
}

.hamburger-menu .hamburger-menu-icon span{
    height: 2px;
    background-color: black;
}

.hamburger-menu .hamburger-menu-icon .first-dash{
    width: 16px;
}
.hamburger-menu .hamburger-menu-icon .last-dash{
    background-color: black;
    margin-left: 12px;
}

.hamburger-logo{
    margin-left: 20px;
}

.hamburger-links{
    display: none;
}

.hamburger-links ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin-left: 0px;
}

.hamburger-links li a{
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 15px 12px 15px 12px;
    font-family: 'sohne', sans-serif;
    font-size: .75rem;
    color: #888;
    text-align: center;
    margin-left: -10px;
    overflow: hidden;
}

.hamburger-links li a:hover{
    color: black;
    background-color: #f6f6f6;
}

.hamburger-links li .email:hover{
    background-color: #383838 !important;
}

#info{
    margin: 100px 100px 0px 100px;
    padding-top: 100px;
    padding-left: 50px;
    overflow-x: hidden;
}

.my-role{
    font-family: 'Roboto', sans-serif;
    color: #888;
    font-weight: 400;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
}
.my-role p{
    margin: 4px 4px 0px 4px;    
}

.my-pitch p{
    margin-top: 15px;
    font-family: 'heldane', sans-serif;
    font-size: 3.6rem;
    font-weight: 300;
    font-stretch:narrower;
    letter-spacing: -3px;
    line-height: 1.5;
    margin-right: auto;
}

.my-pitch .highlight-words{
    background-color: #e7f097;
    border-radius: 100px;
}

#arrow-down{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin: 0 auto;
    animation: upDownArrow .8s infinite alternate;
}

@keyframes upDownArrow {
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(65px);
    }
}


#arrow-down span{
    border: 1px solid #787777;
    text-align: center;
}

#arrow-down span:first-child{
    margin-top: 50%;
    transform: rotate(-45deg) translate(2.5px, 11px);
}
#arrow-down span:nth-child(2){
    margin-top: 40%;
}
#arrow-down span:last-child{
    margin-top: 50%;
    transform: rotate(45deg) translate(-2.5px, 11px);
}

#arrow-down:hover span{
    border: 1px solid black;
}

#project-section{
    margin: 200px 30px 0px 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: .5px solid #888;
    transition: transform  ease;
}

.project-heading{
        font-family: 'Roboto', sans-serif;
        color: #888;
        line-height: .5rem;
        margin-bottom: 80px;
}

.project-view{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.project-item{
    padding-right: 10px;
    padding-bottom: 40px;
    flex: 1 0 50%; 
    box-sizing: border-box;
    overflow: hidden;
}
/* flex : flex basis flex shrink and size it occupies
flex basis is how much space in the line shrink to how much in case 
less space available and 50% for 2 columns 30% for 3 
box sizing: border-box */

.project-item img{
    max-width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}

.project-item .project-title{
    font-family: 'heldane', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: .5;
    letter-spacing: -.5px;
    color: #242424;
}

.project-item .project-description{
    font-family: 'sohne', sans-serif;
    color: #787777;
    font-size: 1.1rem;
    margin-top: -10px;
}

.project-item img{
    transition: transform 0.3s ease-in-out;
}

.project-item img:hover{
    transform: scale(1.1);
}

.project-image{
    overflow: hidden;
    margin-bottom: 0px;
}

.footer{
    margin: 120px 10px 125px 20px;
    display: flex;
    overflow: hidden;
    height: 285px;
}

.footer .info-footer{
    font-family: 'Roboto', sans-serif;
    color: #888;
    font-weight: 400;
    flex: 1 0 32%;
    margin-left: 50px;
    padding-top: 40px;
}

.info-footer p{
    margin: 4px 4px 0px 4px;    
}

.icons-socials i{
    color: #787777;
    margin: 10px 10px 10px 4px;
    padding: 5px;
    font-size: 1.5rem;
}

.email-footer{
    height: auto;
    flex: 1 0 68%;
    margin-right: 100px;
    padding-right: 10px;
}

.email-footer p{
        margin-top: 15px;
        font-family: 'heldane', sans-serif;
        font-size: 3.6rem;
        font-weight: 300;
        font-stretch:narrower;
        letter-spacing: -3px;
        line-height: 1.5;
        padding-right: 0px;
}

.email-footer .highlight-words{
    background-color: #e7f097;
    border-radius: 100px;
}

.email-footer a{
    text-decoration: none;
    color: #888;  
    margin: 0px 25px 10px 10px;
    padding: 16px 24px 16px 24px;
    font-size: 1.2rem;
}
.email-footer a:hover{
    background-color: #383838 !important;
}

.icons-socials a i:hover{
    border: 1.4px solid black !important;
}

#about-me{
    max-width: 65em;
    display: flex;
    margin: 0 auto;
}

#about-me-info{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    flex:1 0 35%;
    background-color: red;
    padding: 50px;
}

#about-me-info-name{
        margin-top: 15px;
        font-family: 'heldane', sans-serif;
        font-size: 2.6rem;
        font-weight: 300;
        font-stretch:narrower;
        letter-spacing: -2px;
        line-height: 1.5;
}

#just-name{
    background-color: #e7f097;
    border-radius: 80px;
}

#about-me-info p{
    font-family: 'Roboto', sans-serif;
    color: #888;
    font-size: large;
    margin-top: 30px;
}


#about-me-img img{

    min-width: 100%;
    max-height: 70rem;
}